@charset "utf-8";
/* CSS Document */

* {
padding: 0;
margin: 0;	
}


body{
background: #cccccc;	
}



#wrapper {
width: 940 px;	
	margin: 20px aut0;
}

header {
background: orange;	
overflow: hidden;
}

#logo {
	width: 700px;
	float: left;
	background: pink;
}

#social {
	width: 220px;
	float: right;
	background: yellow;	
}

#box{
	
}

aside {
float: left;
width: 340 px;	
	
}

