@charset "UTF-8";
/* CSS Document */

*   {
	margin:0;
	padding:0;
}

body   {
	font-family:'PT Sans', sans-serif;
	font-size:100%;
	line-height:1.5;
	color:#232123;
	background:#71F5F3;
}

#wrapper   {
	width:940px;
	margin:0 auto;
	padding:20px 20px 20px 30px;
	background:#EFEDEF;
	overflow:hidden;
}

header   {
	overflow:hidden;
	background-image: url(../images/banner1.jpg);
	height: 400px;
	width: 100%;
}

#logo   {
	float:right;
	font-family:'PT Sans', sans-serif;
	font-size:300%;
	line-height:1.5;
	color:#ffffff;
	padding: 0 20px 180px 0;
	
}

#logo img   {
	width:250px;
	padding:20px 30px 0 20px;
}

#social  {
	float:left;
	width:200px;
	padding: 20px 0px 0 20px;
}


#social ul  {
float:left;	
list-style-type:none;
}

#social ul li.utilities  {
float:left;
margin-right:10px;
}


#social ul li.utilities img  {
width:50px;
}


nav   {
	clear:both;
	height:50px;
	background:#eb006e;
	font-size:1.6em;
	border-top:2px #eb006e solid;
	border-bottom:2px #eb006e solid;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5db1+0,ef017c+100;Pink+3D+%231 */
background: #ff5db1; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNWRiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjAxN2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ff5db1 0%, #ef017c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5db1), color-stop(100%,#ef017c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff5db1 0%,#ef017c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff5db1 0%,#ef017c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff5db1 0%,#ef017c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff5db1 0%,#ef017c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=0 ); /* IE6-8 */

}

nav ul {
	text-align:center;
}



nav ul li.nav {
	float: left;
	width: 16.6%;
	list-style-type: none;
	line-height: 50px;
	font-variant: small-caps;
	color:#292022;
}

nav ul li.nav-on {
	float: left;
	width: 16.6%;
	list-style-type: none;
	line-height: 50px;
	font-variant: small-caps;
	color:#292022;
	text-decoration:none;
}
	
nav ul li.nav a   {
	font-family:'PT Sans Caption', sans-serif;
	display:block;
	text-decoration:none;
	color:#292022;
}

nav ul li.nav-on a   {
	font-family:'PT Sans Caption', sans-serif;
	display:block;
	background:#F5B939;
	border-radius: 10px;
	color:#292022;
	text-decoration:none;
}

nav ul li.nav a:hover   {
	background:#F5B939;
	border-radius: 10px;
}

main   {
	width:61.702128%;
	float:left;
}

main img   {
	max-width:100%;
}

aside   {
	width:36.170213%;
	float:right;
}

aside h4   {
	padding-top:.5em;
	padding-bottom:.8em;
}

p.block   {
	padding:0 15px;
	margin:0 0 30px 10px;
	border-left:2px #454145 solid;
}

footer   {
	float:left;
	clear:both;
	height:50px;
}

footer ul   {
	padding-left:20px;
}

footer li   {
	float:left;
	list-style-type:none;
	line-height:50px;
	padding-right:20px;
}

footer a   {
	text-decoration:none;
	color:#232123;
}

footer img   {
	width:30px;
	padding-right:20px;
}

html   {
	font-size:1em;
}

p   {
	margin-bottom:1em;
}

h1, h2, h3, h4   {
	font-family:'Helvetica', serif;
	font-weight:300;
	line-height:1.1;
	padding-bottom:.3em;
}

h1   {
	font-size: 2.441em;
}

h2   {
	font-size: 1.953em;
}

h3   {
	font-size: 1.563em;
}

h4   {
	font-size: 1.25em;
}

img {

padding: 5px 5px 5px 5px;
}


/***************form***************/


form   {
	padding:1em;
	font-size:100%;
}

form h1   {
	padding-bottom:0;
	line-height:1;
}

form legend   {
	font-size:1.953em;
	color:#F5B939;
}

fieldset   {
	padding-left:1em;
}

label   {
	display:block;
	padding-top:.4em;
	padding-bottom:.4em;
	font-size:1.2em;
	line-height:1.1;
}

form p   {
	margin:0 0 .2em 0;
	padding:0;
}

input[type=text], input[type=email], 
input[type=tel], input[type=url], textarea   {
	display:block;
	border:3px solid #F5B939;
	font-size:1em;
	font-family:'PT Sans', sans-serif;
	width:95%;
}

input[type=text], input[type=email], 
input[type=tel], input[type=url]   {
	height:1.4em;
	margin-bottom:.8em;
}

input[type=checkbox], input[type=radio]   {
	display:inline;
	margin-right:5px;
}

textarea   {
	margin-top:.7em;
}

input[type=submit]   {
	background:#ffffff;
	font-weight:bold;
	font-size:150%;
	font-variant:small-caps;
	border-radius:5px;
	width:30%;
	border:1px #F5B939 solid;
	height:1.5em;
	color:#F5B939;
	margin-bottom:.8em;
}
